@import "config";
@import "typography";
@import "navbar";
@import "basics";
@import "animations";
@import "slider-bootstrap";

.greetings {
    // margin-top: 5rem;

    height: 700px;
    background-image: url(../img/bg-sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &-para {
        text-indent: 1rem;
        padding: 0 8% 1rem 8%;
        color: $main-clr;
    }

    &-heading {
        margin-top: 3rem;
        max-width: 1200px;
        letter-spacing: 0.1rem;
    }
}

.container-fluid {
    padding: 0;
}

.first {
    height: auto;
    background: linear-gradient($sub-clr, #252525);
    margin-top: 1rem;
    padding-bottom: 2rem;

    &-heading {
        position: relative;
        top: -45px;
        margin-left: 2.5rem;
    }

    &-image {
        &-container {
            text-align: right;
        }
    }

    &-btn {
        margin: 0 auto;
    }
}

.third {
    background: linear-gradient($sub-clr, #252525);
    margin-top: 1rem;

    // &-para {
    //     max-width: 800px;
    //     margin: 0 auto;
    // }
    &-heading-h2 {
        padding-top: 1rem;
        margin-left: 2.5rem;
    }

    &>article>h4,
    img {
        padding: 0 1.5rem;
        display: inline;
    }

    &-article1,
    &-article3 {
        text-align: center;
        margin: 0;
    }

    &-article2 {
        text-align: center;
        margin: 0;
    }

    &-article-para {
        width: 90vw;
        display: inline-block;
        margin-right: 0;

    }
}

.fourth {
    position: relative;
    padding-bottom: 1rem;

    &-heading {
        padding: 0 5%;
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }

    &-list {
        float: left;
        text-align: right;

        &:nth-child(2) {
            padding-bottom: 2rem;
        }

        &>li {
            text-shadow: 0px 0px 5px white;
            display: block;
            font-size: 1.1rem;
            font-weight: bolder;
            color: $wbg-clr;
            margin-bottom: 10px;

            &>strong {
                text-shadow: 0px 0px 5px black;
                font-weight: bold;
                text-transform: uppercase;
                color: $main-clr;
            }
        }

        &>.container {
            padding-bottom: 1rem;
        }
    }

    &-image {
        position: absolute;
    }
}

.fifth {
    padding-top: 50px;
    background: $main-clr;
    clear: both;

    &-heading {
        text-align: center;
        color: $sub-clr;
        padding: 0 10%;
    }
}

.sixth {
    &-heading {
        text-align: center;
        padding-top: 2rem;
    }

    &-para {
        text-align: center;
    }

    &-item {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        height: 450px;

        &-text-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding-bottom: 30px;

            &>h5 {
                color: black;
                font-weight: bolder;
            }

            &>h4 {
                color: black;
                font-weight: bold;
            }

            &>button {

                position: relative;
                margin: 20px auto;
                color: white;

                &::before {
                    height: 100%;
                    position: absolute;
                    background: black;
                }

                &::after {
                    height: 100%;
                    width: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    content: 'ADD TO CART';
                    position: absolute;
                    color: white;
                }
            }
        }

        &-image-wrapper {
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            &>img {
                width: 80%;
            }
        }


        &>span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 15%;
            right: 15%;
            color: white;
            font-weight: bold;
            width: 60px;
            height: 60px;
            background: black;
            border-radius: 50%;
        }

        background: white;
    }
}

.footer {
    text-align: right;

    &-social {
        display: block;

        &>li {
            display: inline;

            &>i {
                padding: 11px 0;
                text-align: center;
                color: black;
                background-color: $main-clr;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

    &-addition {
        display: inline-block;
    }

    &>div>ul,
    &>ul {
        list-style: none;

        &>li {
            margin: 15px 10px;
            color: $para-clr;

            &>a {
                text-decoration: none;
                color: $para-clr;
            }
        }
    }

    &-contact {
        &-number {
            color: $main-clr;
        }

        &-email {
            text-decoration: underline !important;
        }
    }
}

.mySlickSlider {
    position: relative;

    &>img {
        max-width: 90%;
        height: auto;

    }
}

.slick-arrow {
    all: unset;

    &::before {
        all: unset;
    }

    position: absolute;
    top: 50%;
    color: rgb(77, 77, 77);
    z-index: 9999;
    // font-size: 0;
}

.slick-next,
.slick-prev {
    &::before {
        all: unset;
    }

    padding: 0 1rem;
    font-size: 4rem;
    right: 0;
    z-index: 1;

    &:hover {
        color: rgb(31, 111, 241);
    }

    &:focus {
        color: rgb(77, 77, 77);
    }
}

.slick-prev {
    left: 0;


}

.slick-dots {
    width: auto;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    &>li {
        list-style: none;
        margin: 0 10px;

        &>button {
            all: unset;
            font-size: 0;
            width: 20px;
            height: 20px;
            display: inline-block;
            background: $para-clr;
            border-radius: 50%;


            &::before {
                all: unset;
                content: none;
            }
        }
    }

    &>li.slick-active {
        &>button {
            background: black;
        }
    }
}

@import "media";