@import "config";
@import "typography";
@import "navbar";
@import "basics";
@import "animations";

.greetings {
    // margin-top: 5rem;
    height: 100vh;
    background-image: url(../img/bg-sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    &-para {
        text-indent: 1rem;
        padding: 0 8% 1rem 8%;
        color: $main-clr;
    }
    &-heading {
        margin-top: 3rem;
        max-width: 1200px;
        letter-spacing: 0.1rem;
    }
}

.container-fluid {
    padding: 0;
}

.first {
    height: 100vh;
    background: linear-gradient($sub-clr, #252525);
    margin-top: 1rem;
    &-heading {
        position: relative;
        top: -45px;
        margin-left: 2.5rem;
    }
    &-image {
        &-container {
            text-align: right;
        }
    }
    &-btn {
        margin: 0 auto;
    }
}

.third {
    background: linear-gradient($sub-clr, #252525);
    margin-top: 1rem;
    // &-para {
    //     max-width: 800px;
    //     margin: 0 auto;
    // }
    &-heading-h2 {
        padding-top: 1rem;
        margin-left: 2.5rem;
    }
    & > article > h4,
    img {
        padding: 0 1.5rem;
        display: inline;
    }

    &-article1,
    &-article3 {
        text-align: right;
        margin: 0;
    }
    &-article2 {
        text-align: left;
        margin: 0;
    }
    &-article-para {
        width: 75vw;
        display: inline-block;
        margin-right: 0;
    }
}

.fourth {
    position: relative;
    padding-bottom: 1rem;
    &-heading {
        padding: 0 5%;
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }
    &-list {
        float: left;
        text-align: right;
        &:nth-child(2) {
            padding-bottom: 2rem;
        }

        & > li {
            text-shadow: 0px 0px 5px white;
            display: block;
            font-size: 1.1rem;
            font-weight: bolder;
            color: $wbg-clr;
            margin-bottom: 10px;
            & > strong {
                font-weight: bold;
                text-transform: uppercase;
                color: $main-clr;
            }
        }
        & > .container {
            padding-bottom: 1rem;
        }
    }
    &-image {
        position: absolute;
    }
}

.fifth {
    padding-top: 50px;
    background: $main-clr;
    clear: both;
    &-heading {
        text-align: center;
        color: $sub-clr;
        padding: 0 10%;
    }
}

.sixth {
    &-heading {
        text-align: center;
        padding-top: 2rem;
    }
    &-para {
        text-align: center;
    }
}

.footer {
    text-align: right;
    &-social {
        display: block;

        & > li {
            display: inline;
            & > i {
                padding: 11px 0;
                text-align: center;
                color: black;
                background-color: $main-clr;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
    &-addition {
        display: inline-block;
    }
    & > div > ul,
    & > ul {
        list-style: none;
        & > li {
            margin: 15px 10px;
            color: $para-clr;
            & > a {
                text-decoration: none;
                color: $para-clr;
            }
        }
    }
    &-contact {
        &-number {
            color: $main-clr;
        }
        &-email {
            text-decoration: underline !important;
        }
    }
}
@import "media";
